body {
    background-color: #ededed;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    font-size: 16px;
    padding: 5px;
}

ul li:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.1);
}

ul li a {
    float: right;
}

.grid {
    margin: 0 auto;
}

.grid-item {
    border-radius: 17px;
    color: white;
    width: 325px;
    margin: 0 auto 20px auto;
    padding: 20px;
}

.color-blue {
    background: linear-gradient(to top, rgb(4, 106, 157) 25%, rgb(11, 121, 194) 100%);
    background: -moz-linear-gradient(bottom, rgb(4, 106, 157) 25%, rgb(11, 121, 194) 100%);
    background: -webkit-linear-gradient(bottom, rgb(4, 106, 157) 25%, rgb(11, 121, 194) 100%);
    background: -o-linear-gradient(bottom, rgb(4, 106, 157) 25%, rgb(11, 121, 194) 100%);
    background: -ms-linear-gradient(bottom, rgb(4, 106, 157) 25%, rgb(11, 121, 194) 100%);
}

.color-red {
    background: linear-gradient(to top, rgb(157, 4, 4) 25%, rgb(194, 11, 11) 100%);
    background: -moz-linear-gradient(bottom, rgb(157, 4, 4) 25%, rgb(194, 11, 11) 100%);
    background: -webkit-linear-gradient(bottom, rgb(157, 4, 4) 25%, rgb(194, 11, 11) 100%);
    background: -o-linear-gradient(bottom, rgb(157, 4, 4) 25%, rgb(194, 11, 11) 100%);
    background: -ms-linear-gradient(bottom, rgb(157, 4, 4) 25%, rgb(194, 11, 11) 100%);
}

.color-green {
    background: linear-gradient(to top, rgb(0, 128, 72) 25%, rgb(0, 148, 83) 100%);
    background: -moz-linear-gradient(bottom, rgb(0, 128, 72) 25%, rgb(0, 148, 83) 100%);
    background: -webkit-linear-gradient(bottom, rgb(0, 128, 72) 25%, rgb(0, 148, 83) 100%);
    background: -o-linear-gradient(bottom, rgb(0, 128, 72) 25%, rgb(0, 148, 83) 100%);
    background: -ms-linear-gradient(bottom, rgb(0, 128, 72) 25%, rgb(0, 148, 83) 100%);
}

.btn-add {
    text-align: center;
    position: fixed;
    height: 75px;
    width: 75px;
    border-radius: 50%;
    padding-left: 15px;
    -webkit-box-shadow: 0 0 15px 5px rgba(0,0,0,0.3);
    box-shadow: 0 0 15px 5px rgba(0,0,0,0.3);

    bottom: 20px;
    right: 20px;
    z-index: 100;
}

.btn-add span {
    line-height: 55px;
    font-size: 45px;
}

.form-box {
    background-color: rgba(0, 0, 0, 0.5);
    max-width: 500px;
    margin-top: 15%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

input[type="password"] {
    height: 50px;
    font-size: 20px;
}

.navbar {
    background-color: black;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin-bottom: 0;
}


.delete_job {
    background:none;
    border:none;
    position: absolute;
    right: 15px;
    top: 15px;
    color: white;
}
